<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Edit Milestone</title>
</head>
<body>
<h2>Edit Milestone</h2>
<div class="container">
  <form th:action="@{'/project/' + ${projectId} + '/milestone/' + ${milestone.id}}" th:object="${milestone}" th:method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
      <label for="name">Milestone Name</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter Milestone Name" required>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" class="form-control" id="endDate" th:field="*{endDate}">
    </div>
    <button type="submit" class="btn btn-primary">Update Milestone</button>
  </form>
</div>
</body>
</html>
