<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Project List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<h1>Project List</h1>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projectList}">
      <td th:text="${project.id}"></td>
      <td>
        <a th:href="@{'/project/' + ${project.id}}" th:text="${project.name}"></a>
      </td>
      <td th:text="${project.description}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
