<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Project List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .color-box {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border: 1px solid #000;
    }
  </style>
</head>
<body>
<h1>Project List</h1>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projectList}">
      <td th:text="${project.id}"></td>
      <td>
        <a th:href="@{'/project/' + ${project.id}}" th:text="${project.name}"></a>
      </td>
      <td th:text="${project.description}"></td>
      <td>
                <span th:each="tag : ${projectTags[__${project.id}__]}">
                    <div class="color-box" th:style="'background-color:' + ${tag.color}"></div>
                    <span th:text="${tag.name}"></span>
                </span>
      </td>
      <td>
        <a th:href="@{'/project/' + ${project.id} + '/edit'}" class="btn btn-primary">Edit</a>
        <form th:action="@{'/project/' + ${project.id}+ '/delete'}" method="post" style="display: inline;">
          <input type="hidden" name="_method" value="delete" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
