<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Tag</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="my-4">태그 수정</h1>

  <form th:action="@{'/project/' + ${projectId} + '/tag/' + ${tag.id}}" th:method="post">
    <div class="form-group">
      <label for="name">이름:</label>
      <input type="text" class="form-control" id="name" name="name" th:value="${tag.name}" required>
    </div>
    <div class="form-group">
      <label for="color">색상:</label>
      <input type="text" class="form-control" id="color" name="color" th:value="${tag.color}" required>
    </div>
    <input type="hidden" name="_method" value="put">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>
